<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
      }

      form {
      }

      .login-header {
      }

      .form-input-email,
      .form-input-password {
      }

      input {
      }

      .btn-forgetpassword {
      }
      .btn-to-register {
      }
    </style>
  </head>
  <body>
    <div class="login-header">
      <h3>Masuk ke Snip</h3>
      <p>Kelola semua link pendekmu</p>
    </div>
    <form action="">
      <div class="form-input-email">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" />
      </div>
      <div class="form-input-password">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" />
      </div>
      <div class="btn-forgetpassword">
        <a href="#">lupa password?</a>
      </div>
      <div class="btn-login">
        <button type="submit">masuk</button>
      </div>
      <div class="btn-to-register">
        <p>Belum punya akun?<a href="">daftar disini</a></p>
      </div>
    </form>
  </body>
</html>
